.title-text{
    font-size: 24px;
}

.italic{
    font-style: italic;
}

.small-text{
    font-size: 14px;
}

.x-small-text{
    font-size: 12px;
}

.font-bold{
    font-weight: bold;
}